/* 카드 */
.modbus-card {
    position: absolute;
    margin-top: 3%;
    width: 90%;
    padding: 0.1% 0.5%;
    border-radius: 3px;
    background-color: #323338;
    color : white;
}

.modbus-card-body {
    margin: 1%;
    font-size: 120%;
}

.box {
    float:left;
    position: static;
    width:150px;
    box-shadow:3px 3px 2px #666767;
    height:30px;
}




