/* 테이블 */
.amr-table {
    color: white;
    table-layout: fixed;
    margin-left: auto;
    margin-right: auto;
}
.amr-table td, .amr-table th {
    padding: 9px 46px;
    border: "1px" solid;
    border-color: inherit;
    border-style: solid;
    border-width: 1px;
    font-size: 120%;
    border-left: 0;
	border-right: 0;
}

.amr-table tr:hover td{
    background-color: Cyan;
}

/* hp 노트북 */
@media (max-width:1466px) {
    .amr-table td, .amr-table th {
      padding: 9px 42px;
      font-size: 100%;
    }
}

@media (max-width:1024px) {
    .amr-table td, .amr-table th {
      padding: 8px 20px;
      font-size: 90%;
    }
}

@media (max-width:680px) {
    .amr td, .amr-table th {
        padding: 4px 10px;
    }
}
/* end 테이블*/


/* 셀렉트박스 */
.select-basic {
    position: relative;
    height: 35px;
    border-style: double;
    border-radius: 5px;
    color: whitesmoke;
    background: #5b5150;
    border-color: darkgray;
}
/* end 셀렉트박스 */
